


{% extends "users/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block bodynested %}

<h1 class="text-2xl m-10"> Registor Here </h1>

<div class="container py-5">

    <div class="error-container text-red-500 font-bold px-10">
        {% if user_form.errors %}
            {% for field in user_form %}
            {{field.errors}}
           
            {% endfor %}
        {% endif %}
    </div>

    <form method="POST" class="bg-white shadow-md m-10 w-2/5 rounded px-8 pt-6 pb-8 mb-4" >
        {% csrf_token %}

        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold" for="">Mobile No: </label>
            <div class="shadow text-gray-700  appearance-none border rounded py-2 px-3 mr-10"> {{ user_form.mobile }}</div>
        
        </div>

        
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold" for="">username : </label>
            <div class="shadow text-gray-700  appearance-none border rounded py-2 px-3 mr-10"> {{ user_form.username }}</div>
        
        </div>
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold" for=""> First Name : </label>
            <div class="shadow text-gray-700  appearance-none border rounded py-2 px-3 mr-10"> {{ user_form.first_name }}</div>
        </div>
       
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold" for=""> Last Name : </label>
            <div class="shadow text-gray-700  appearance-none border rounded py-2 px-3 mr-10"> {{ user_form.last_name }}</div>
        </div>
       
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold" for=""> Email : </label>
            <div class="shadow text-gray-700  appearance-none border rounded py-2 px-3 mr-10"> {{ user_form.email }}</div>
        </div>
       
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold" for="">Password : </label>
            <div class="shadow text-gray-700  appearance-none border rounded py-2 px-3 mr-10"> {{ user_form.password }}</div>
        </div>
       
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold" for=""> Confirm Password : </label>
            <div class="shadow text-gray-700  appearance-none border rounded py-2 px-3 mr-10"> {{ user_form.password2 }}</div>
        </div>
       

        
       <button type="submit" class="text-white bg-green-500 rounded px-5 py-2 my-2">Register Now </button>

       
        
       <a href="{% url 'login' %}"class="text-white bg-green-500 rounded px-5 py-2 my-2 mx-8 py-2  " style="height:200px"> 
        
       <input type="button" >Login</button>
       </a>
    
    </form>

         
        
            <!-- <form method="POST">
                {% csrf_token %}
                {{ user_form.as_p}}
                <input type="submit">
                  
            </form>  -->
    

</div>





{% endblock %}



