
<div id="services">
    <div class="container">
        <h1 class="sub-title">My Services</h1>
        <div class="services-list">
            <div>
                <i class="fa-brands fa-python"></i>
                <h2>Python/Django </h2>
                <p>Good Understanding of Core/Advanced Python with practiced 6000+ lines of code</p>
                <a href="#">Learn more</a>
            </div>
            <div>
                <i class="fa-solid fa-code"></i>
                <h2>Web Developer</h2>
                <p>Django web framework,Bootstrap-5, Html, CSS, JavaScript</p>
                <a href="#">Learn more</a>
            </div>
            <!-- <div>
                <i class="fa-solid fa-database"></i>
                <h2>Backend Devloper</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quisquam accusantium iste odio sint, neque a excepturi dignissimos. Tempora, atque.</p>
                <a href="#">Learn more</a>
            </div> -->
        </div>
    </div>
</div>

