{% extends "base.html" %}
{% load static %}
{% comment %} {% static 'card_img' as baseimg %} {% endcomment %}

{% block title %} Workers {% endblock title %}

<!-- body    -->
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my cards </title>
    <link rel="stylesheet" href="{% static '/cardcss/cards_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    
<div class="container-fluid card-body text-center">
    <div class="row my-5" >
    </div>
      <h1 class="text-center "> Our Services </h1>
      <a type="button text-center" href="/workers_page" class="btn btn-success">Labor</a>
      <a href="/vehicals_page" type="button" class="btn btn-info mx-4">Transportation </a>
      <a href="/machinorys_page" type="button" class="btn btn-warning">Machinary</a>
  
  </div>
  
  
  


    <div class="container ">
        <div class="row mt-5 ">

            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gytters align-items-center">
                        <div class="col">
                            <input type="search" name="search_name" placeholder="search product" class="form-control form-control-borderless">
                        </div>

                        <div class="col-auto">
                            <button class="btn btn-success">Search</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="gallery">

        {% for dest in dests %}
        {% if dest.product_catg == "Workers" or dest.product_catg == "Labor" %}
        <div class="product-content">
            <img src='/media/{{dest.product_img}}' alt="">
            <h3> {{dest.product_name}}</h3>
            <p>{{dest.seller_name}}</p>
            <p><b>Mo:-{{dest.mobile}}</b></p>
            <h6>price &#8377; {{dest.price}}/-  </h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
            <!-- <button class="buy-1">Call Now </button> -->
            <a href="/{{dest.id}}" class="buy-1 btn ">Call Now </a>

        </div>
        {% endif %}
        {% endfor %}

    </div>
</body>
</html>
{% endblock body%}

